* {
  background-size: cover;

  font-family: "Montserrat", sans-serif;
  color: white;
  box-sizing: border-box;
  text-align: center;

}

@mixin block {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  
}
h1 {
  font-size: 22px;
}
h3 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

button {
  border-radius: 25px;
  background-color: #ff4e50;
  border-style: none;
  padding: 5px 15px;
}
.special-button {
  color: #ff4e50;
  background-color: white;
  border: 2px solid #ff4e50;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}

header {
  background-image: url("/images/Background.png");
  padding-bottom: 20%;
  padding-left: 20px;
  padding-right: 20px;
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  button {
    height: 40px;
    width: 100%;
    font-size: 14;
    font-weight: bold;
  }
}
.steps {
  display: flex;
  flex-direction: column;
}

.step-1 {
  background-image: url(/images/Step1.png);
  padding: 3%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  h2, h3{
  text-align: start;
  }
  button{
    width: fit-content;
  }
  
}
.step-2 {
  background-image: url(/images/step2.png);
  padding: 3%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  h2, h3{
    text-align: start;
    }
    button{
      width: fit-content;
    }
    
}
.step-3 {
  background-image: url(/images/step3.png);
  padding: 3%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  h2, h3{
    text-align: start;
    }
    button{
      width: fit-content;
    }
    
}
.login-signup {
  display: flex;
  justify-content: center;
}
.login-signup > * {
  font-weight: 300;
  margin: 10px;
  padding: 5px;
}

.font-outside {
  color: #444444;
  display: flex;
  justify-content: center;
}
.font-outside > * {
  color: #444444;
}
.partners {
  display: flex;
  flex-direction: column;
}
.partner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  * {
    color: black;
    display: flex;
    justify-content: center;
  }
  h2{
    font-size: 14px;
    font-weight: bold;
    color:#444444;
  }
  img {
    width: 40%;
    align-self: center;
  }
  h3 {
    color: #666666;
  }
}
.activity {
  display: flex;
  flex-direction: column;
}

.block-1 {
  background-image: url(/images/Bitmap.png);
  @include block;
}
.block-2 {
  background-image: url(/images/Bitmap1.png);
  background-position: center;
  background-blend-mode: darken;


  @include block;
}
.block-3 {
  background-image: url(/images/Bitmap2.png);
  background-blend-mode: darken;
  @include block;
}

.block-4 {
  background-image: url(/images/Bitmap3.png);
  background-position: center;

  @include block;
}
.block-5 {
  background-image: url(/images/Bitmap4.png);
  @include block;
}
.block-6 {
  background-image: url(/images/Bitmap5.png);
  @include block;
}
.block-7 {
  background-image: url(/images/Bitmap6.png);
  @include block;
}
.holiday-interests{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  div{
    color: #9999;
  margin-bottom: 15px;
  width: 100%;
  }
}
form {
  color: #9999;
  border-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  margin-bottom: 10px;
  width: 100%;
  button{
    margin-top: 15px;
    width: 100%;
    height: 40px;
  }
 
}
input {
  width: 100%;
  color: #9999;
  height: 40px;

  border-radius: 5px;
  text-align: start;
  flex-wrap: wrap;
  border: 1px solid #d4d4d4;
 
}

footer {
  border-top: 2px solid #ff4e50;
  color: black;
  display: flex;
  margin: 20px 0px;
  
  .footer-items {
    h4 {
      font-weight: lighter;
    }
  }
}
footer > * {
  color: black;
}
.footer-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.footer-items > * {
  color: #cccccc;
  font-weight: 300;
  margin-right: 10px;
  
}
@media screen and(max-width: 768px){
  header{
    h1{
      br{
        display: none;
      }
    }
  }
  footer{
    flex-direction: column;
  }
  .footer-items{
    h1{
      width: 100%;
    }
  }
  #dreamshare{
    display: none;
  }
  
}
@media screen and (min-width: 768px) {
  .activity{
    margin-bottom: 95px;
  }
  
  .step-1, .step-2, .step-3{
padding-top: 20%;
  }
  .special-button{
    width: fit-content;

  }
  #dreamshare{
margin-right: auto; }
  header{
    h1{
      font-size: 52px;
    }
    h3{
      font-size: 24px;
    }
    button{
      width: fit-content;
    }
    
  }
  .steps {
    flex-direction: row;
    justify-content: space-between;
  }
  .step-1 {
    width: 32%;
  }
  .step-2 {
    width: 32%;
  }
  .step-3 {
    width: 32%;
  }
  .partners {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .partner {
    width: 50%;
  }
  .activity {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
  }
  .block-1 {
    width: 32%;
    height: 310px;
    margin-bottom: 15px;
  }
  .block-2 {
    width: 32%;
    height: 310px;
  }
  .block-3 {
    width: 32%;
    height: 310px;
  }
  .block-4 {
    width: 32%;
    height: 310px;
    margin-bottom: 15px;
  }
  .block-5 {
    width: 66%;
    height: 310px;
  }
  .block-6 {
    width: 66%;
    height: 310px;
  }
  .block-7 {
    width: 32%;
    height: 310px;
  }
  .holiday-interests{
    flex-direction: row;
    height: auto;
    button{
      width: 20%;
    }
  }

  input{
    width: 50%;
  }

  form{
    padding: 10%;
    justify-content: center;
    button{
      margin-top: 0px;
      margin-left: 10px;

    }
  }
  footer{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  h1 {
    font-size: 14px;
    color: #444444;
    font-weight: bold;

  }

  }

  .footer-items{
    flex-direction: column;
    h1 {
      font-size: 14px;
      color: #444444;
      font-weight: bold;
    }
  }
  .steps{
    margin-top: 35px;
  }
  main{
    margin-top: 80px;
  }

}
@media only screen and (min-width: 1440px) {
  .activity{
    margin-bottom: 170px;
  }
  main{
    padding: 0 250px;
  }
  .partner{
    width: 25%;
  }
  header{
    .login-signup{
      padding: 0 200px;
    }
  }
  footer{
    padding: 40px 200px;
  }
  .footer-items{
    align-items: flex-start;
  }
  .steps{
    margin-top: 35px;
  }
  main{
    margin-top: 80px;
  }
  header{
    h1{
      padding-top: 150px;
    }
    .login-signup{
      padding-top: 50px;
    }
  }
}